.container {
    display:flex;
    flex-direction:column;
    width:520px;
    height:365px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 200px;
    margin-bottom:auto;
    border: solid 1px grey;
    padding:10px;
    border-radius:10px;
    background-color:#5C7749;
    font-family:'Inria sans';
    text-align:center;

}


input {
    width:148px;
    height:45px;
    margin:0 auto 0 auto;
}

button {
    width:100px;
    height:35px;
    margin:10px auto 0 auto;
    border-radius:5px;
    font-weight:bold;

}

#total {
    text-align:left;
    

}
